<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <!--
  
  Note: For security reasons no actual connection strings are stored in this file. Instead you have two options:
  Option 1: Create a user environment variable named 'SqlServerConnectionString' with the value being a valid connection
            string to a SQL Server instance. Note that our continuous integration server injects this environment variable.
  Option 2: Add a connection string in this file with the name 'SqlServerConnectionString'. Note that for development this
            is not recommended as it becomes easy to accidentally check in your connection string. An example
            connection string is below:
  
  <?xml version="1.0" encoding="utf-8" ?>
  <connectionStrings>
    <add name="SqlServerConnectionString" connectionString="Server=****;Database=****;User ID=****;Password=****;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  -->
  
  <connectionStrings>
  </connectionStrings>
  
</configuration>