<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite"/>
      <add name="SQLite Data Provider" invariant="System.Data.SQLite"
           description=".NET Framework Data Provider for SQLite" 
           type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>


  <connectionStrings>
    <add name="SqliteDatabaseConnectionString" connectionString="Data Source=|DataDirectory|SqliteDatabase.db" providerName="System.Data.SQLite" />
    <add name="SqliteInMemoryDatabaseConnectionString" connectionString="Data Source=:memory:;Version=3;New=True;" providerName="System.Data.SQLite" />
  </connectionStrings>
  
</configuration>